body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ECE4E2;

}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

h1{
    font-size: 1.7rem;
}
h2{
    font-size: 1.5rem;
}
li{
    list-style:none;
}
.completed{
    text-decoration:line-through;
}
button{  
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .3rem;
}

.add,.edit,.delete,.cancel,.ok{
    margin-left: 10px;
    cursor: pointer;
}
.delete{
    background-color: #DC3545;
}
.cancel{
    background-color: #DC3545;
}
.ok{
    background-color:#28a745;
}
.edit{
    background-color: #FFC107
}
.add{
    background-color: #007bff;
}
.add:hover{
    background-color: #fff;
    color: #007bff;
    border: 2px solid #007bff;
}
.delete:hover{
    background-color: #fff;
    color: #DC3545;
    border: 2px solid #DC3545;
}

.cancel:hover{
    background-color: #fff;
    color: #DC3545;
    border: 2px solid #DC3545;
}

.ok:hover{
    background-color: #fff;
    color: #28a745;
    border: 2px solid #28a745;
}
.edit:hover{
    background-color: #fff;
    color: #FFC107;
    border: 2px solid #FFC107;
}

  input:focus, textarea:focus {
    background   : #ECE4E2;
    border-radius: 5px;
    outline      : none;
  }
  input[type=checkbox] {
    transform: scale(1.5);
  }

  .titulo{
    color:#736C6B;
  }

  .error-bar {
    border: 1px solid red;
    color: red;
    font-weight: bold;
    background-color: #ffbdce;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
}

.hide-bar {
    display: none;
}

.show-bar {
    display: block;
}



.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}